<div class="dashboard-section-header">
	<a href="#/contents" class="link root">Contents</a> / create
	<button class="btn btn-info pull-right" ng-click="saveContent()">Save</button>
	<back-button></back-button>
</div>
<div class="container-fluid">

	<div class="row">
		<div class="col-lg-8 col-xs-12">
			<div class="card mb50">
				<div class="card-header"><h4>Basic information</h4></div>
				<div class="form-group">
					<label>Type</label>
					<span class="fa fa-question-circle ml20 text-muted" title="Choose visual element for creating HTML template elements"></span>
					<select class="form-control" ng-model="content.type">
						<option value="" selected="true" disabled="true">Select a content type</option>
						<option value="post">Blog post</option>
						<option value="page">Page</option>
						<option value="element">Visual element</option>
					</select>
				</div>
				<div class="form-group">
					<label>Title</label>
					<input type="text"
					class="form-control"
					placeholder="e.g. Latest news"
					ng-change="updateSlug()"
					ng-model="content.title" />
				</div>
				<div class="checkbox" ng-if="content.type !== 'element'">
					<input type="checkbox" ng-model="unsafeSlug" id="unsafeSlug" />
					<label for="unsafeSlug">
						Editable slug
					</label>
				</div>
				<div class="form-group"  ng-if="content.type !== 'element'">
					<label>Slug</label>
					<input type="text"
					class="form-control  "
					ng-disabled="false === unsafeSlug"
					ng-model="content.slug" />
				</div>
				<div class="form-group"  ng-if="content.type !== 'element'">
					<label>Category</label>
					<input type="text"
					class="form-control  "
					placeholder="e.g. Sales"
					ng-model="content.category" />
				</div>

				<div class="form-group"  ng-if="content.type !== 'element'">
					<label>Date</label>
					<div class="input-group">
						<input
						type="text"
						class="form-control"
						placeholder="Select a date..."
						moment-picker="content.date"
						locale="en"
						ng-model="content.date"
						format="MMMM Do YYYY"
						today="true"
						min-view="month"
						max-view="month"
						ng-model-options="{ updateOn: 'blur' }">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row"  ng-if="content.type !== 'element'">
		<div class="col-lg-8 col-xs-12">
			<images-card items="content.images"></images-card>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-xs-12">

			<div class="card card-table mb50">
				<div class="card-header"><h4>Editor</h4></div>
				<div class="form-group">
					<div trumbowyg-ng
						ng-model="content.text"
						editor-config="{btns:[['viewHTML'],['formatting'],'btnGrp-semantic',['superscript','subscript'],['link'],['insertImage'],'btnGrp-justify','btnGrp-lists',['horizontalRule'],['removeformat'],['fullscreen']]}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-xs-12">
			<div class="card mb50">
				<div class="card-header"><h4>Products</h4></div>
				<div class="text-secondary" style="margin-top: 2rem; margin-bottom: 2rem">
					Here you can add products to showcase them on the blog.
				</div>
				<div>
					<table class="table">
						<thead>
							<th></th>
							<th>Name</th>
							<th>Type</th>
							<th></th>
						</thead>
						<tbody>
							<tr ng-repeat="includedItem in selectedProducts track by $index" ng-init="sectionIndex = $index">
								<td>
									<div class="thumbnail" style="width:48px;height:48px;padding:0px;">
										<img
											ng-src="{{includedItem.images[0] || 'https://marketcloud.studio404.net/img/logo/normal.png'}}"
											class="fluid"
											fallback-src=https://marketcloud.studio404.net/img/logo/normal.png" />
									</div>
								</td>
								<td>
									<div>
										<a ng-href="#/{{includedItem.type}}/{{includedItem.id}}/edit"
											class="link">{{includedItem.name}}</a>
									</div>
								</td>
								<td>
									{{ includedItem.type }}
								</td>
								<td>
									<a href="" class="text-danger" ng-click="removeProduct($index)"><i
											class="fa fa-trash"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="position: relative">
					<input type="text" class="form-control no-border input-lg" placeholder="Search here for products.."
						ng-model="query.name.$regex" style="padding-left:30px;" focus-on-show
						ng-model-options='{ debounce: 600 }' ng-change="prepareRegex();loadProducts()" ng-focus="showList()"
						ng-blur="hideList()">
					<div style="position: absolute;top:30px;left:0px;right:0px;z-index: 999;padding:15px;">
						<div class="list-group" style="border-top-left-radius: 0px;border-top-right-radius: 0px;"
							ng-show="!!query.name.$regex == true && showTheList === true">
							<a class="list-group-item" style="cursor: pointer;"
								ng-repeat="product in products track by $index" ng-click="addProduct(product)">
								<img ng-src="{{product.images[0]}}" style="max-width:32px;max-height: 32px;">
								{{product.name}}</a>
							<a class="list-group-item" style="font-weight:bold" href="#/products/create" target="_blank">Add
								{{query.name.$regex}}..</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row"  ng-if="content.type !== 'element'">
		<div class="col-lg-8 col-xs-12">
			<div class="card mb50">
				<div class="card-header"><h4>Author</h4></div>
				<div class="form-group">
					<label>Name</label>
					<input type="text"
					class="form-control  "
					placeholder="e.g. Luke Skywalker"
					ng-model="content.author.name" />
				</div>
				<div class="row mb20">
					<div class="col-xs-6">
						<label>Author image</label><br>
						<img ng-src="{{content.author.images[0]}}" style="max-width: 100%;">
					</div>
					<div class="form-group col-xs-6">
						<media-manager
						button-class="btn btn-info btn-sm pull-left"
						button-text="Author image"
						images="content.author.images">

						</media-manager>
					</div>
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea
					class="form-control "
					placeholder="e.g. former Jedi apprentice, Jedi master. Tempted by dark side, once."
					ng-model="content.author.description"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-lg-8">
			<custom-attributes-form
				resource="content"
				properties="customPropertiesData"
			></custom-attributes-form>
		</div>
	</div>
	<div class="row"  ng-if="content.type !== 'element'">
		<div class="col-lg-8 col-xs-12">

			<seo-form seo="content.seo"></seo-form>
		</div>
	</div>


</div>